@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(10deg);
    }

    75% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

body {
    height: 100%;
    overflow-y: hidden;
    margin: 0px;
    color: white;
    font-weight: 600;
    font-family: Helvetica;
}

textarea {
    background-color: #333;
    border: none;
    color: white;
    border-radius: 10px;
    padding: 8px;
    resize: none;
    font-weight: 600;
    font-family: Helvetica;
    font-size: 12px;
    width: 100%;
    height: calc(100% - 34px);
}

#main {
    background-color: #444;
    height: 100%;
    display: grid;
    grid-template-columns: 40% 59%;
    padding: 16px;
    column-gap: 1%;
    box-sizing: border-box;
}

#crypt-area {
    background-color: #444;
    color: white;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    overflow-y: auto;
}

#crypt-area::-webkit-scrollbar {
    display: none;
}

#crypt-area {
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.input-section {
    flex-grow: 1;
    min-height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.output-section {
    flex-grow: 1;
    min-height: 250px;
    display: flex;
    flex-direction: column;
}

.text-area-section {
    height: 65%;
    flex-grow: 1;
}

.crypt-area-title {
    padding-bottom: 8px;
    width: 100%;
    height: 18px;
}

.file-input-section {
    height: 40px;
    width: min-content;
    margin-left: auto;
    box-sizing: border-box;
}

#file-input {
    height: 100%;
}

#file-input::file-selector-button {
    color: white;
    background-color: #444;
    height: 100%;
    border: none;
    border-radius: 4px;
    padding: 4px;
    font-weight: 800;
    cursor: pointer;
    box-sizing: border-box;
}

.progress-section {
    position: relative;
    height: 44px;
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.progress-bar {
    width: 100%;
    height: 28px;
    background-color: #333;
    position: relative;
    margin: auto;
    border-radius: 10px;
    display: none;
}

.bar {
    background-color: #444;
    width: 0%;
    height: 100%;
}

#error-message {
    display: none;
    width: max-content;
    margin: auto;
    padding: 6px 12px;
    border-radius: 6px;
    background-color: #333;
}

.password-section {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

#password-area {
    width: calc(100% - 34px);
    height: 28px;
}

#crypt-show-button {
    height: 28px;
    width: 28px;
    margin: 0px 0px 0px 6px;
}

#crypt-show-button img {
    height: 24px;
}

.button-section {
    height: 32px;
    width: max-content;
    margin-left: auto;
}

.button-section button {
    color: white;
    background-color: #333;
    border: none;
    height: 100%;
    width: 88px;
    padding: 8px;
    font-weight: 800;
    border-radius: 6px;
    cursor: pointer;
}

.button-section button:hover {
    background-color: #2a2a2a;
}

#json-area {
    height: 100%;
    background-color: #444;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 8px;
}

input {
    font-size: 14px;
    color: white;
    background-color: #333;
    padding: 6px;
    border-radius: 6px;
    border: none;
}

#json-section {
    height: min-content;
    width: 100%;
    overflow-y: auto;
    background-color: #444;
    display: grid;
    grid-template-columns: 100%;
    row-gap: 8px;
}

#json-area > .button-wrapper {
    height: 44px;
}

.person-row {
    width: 100%;
    height: fit-content;
    background-color: #333;
    display: flex;
    flex-wrap: wrap;
    padding: 4px 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

.person-row > .button-wrapper {
    height: 44px;
    padding: 4px 8px 4px 0px;
}

.person-row:first-child {
    border-top: none;
}

.person-row:last-child {
    border-bottom: none;
    border-radius: 10px;
}

.person-top {
    width: 100%;
    display: flex;
}

.person-title {
    height: fit-content;
    width: calc(100% - 192px);
    margin: auto 0px;
    padding: 8px 18px 8px 0px;
    font-size: 1.3vw;
    box-sizing: border-box;
    flex-grow: 1;
}

.person-title input {
    width: 100%;
    margin: auto;
    padding: 4px 12px;
    font-size: 1vw;
    box-sizing: border-box;
}

.person-buttons {
    background-color: #333;
    padding: 3px 0px 3px 3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    display: flex;
    height: 44px;
}

.person-buttons .button-wrapper {
    height: 100%;
}

.show-button {
    background-color: #444;
    height: 20px;
    margin: auto;
    padding: 0px;
}

.show-button:hover {
    animation-name: shake;
    animation-duration: 0.3s;
}

.show-button img {
    height: 18px;
}

.person-accounts {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.account-row {
    width: 100%;
    background-color: inherit;
    display: flex;
    flex-wrap: wrap;
}

.account-row:first-child {
    padding-top: 0px;
}

.account-top {
    display: flex;
    background-color: #444;
    width: 40%;
    height: 40px;
    padding: 0px 0px 0px 12px;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    justify-content: space-between;
}

.account-title {
    width: 75%;
    margin: auto 0px;
    font-size: 1.1vw;
}

.account-title input {
    width: 100%;
    margin: auto;
    padding: 4px 8px;
    font-size: 0.8vw;
    box-sizing: border-box;
}

.account-top .button-wrapper {
    height: 100%;
}

.account-data {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.account-data > * {
    height: 44px;
}

.data-row {
    width: 100%;
    background-color: #444;
    display: flex;
    flex-wrap: nowrap;
    border-radius: 0px;
}

.data-row:first-child {
    border-top-right-radius: 10px;
}

.data-row:nth-last-child(2) {
    border-bottom-left-radius: 10px;
}

.input-area {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.data-row .button-wrapper {
    box-sizing: border-box;
    background-color: #444;
    height: 100%;
    border-radius: 10px;
}

.data-row .remove-button:hover {
    background-color: #333;
}

.login-field {
    padding: 8px 12px;
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.login-field span {
    font-size: 0.9vw;
    padding-right: 6px;
}

.login-field input {
    height: 100%;
    flex-grow: 1;
}

.password-field {
    padding: 8px 12px;
    width: 50%;
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.password-field span {
    padding-right: 6px;
    font-size: 0.9vw;
    margin: auto;
}

.password-field input {
    width: 55%;
    height: 100%;
}

.account-data > .button-wrapper {
    border-radius: 0px 0px 10px 10px;
    background-color: #444;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

#json-area > .button-wrapper {
    border-radius: 10px;
    background-color: #333;
    aspect-ratio: 1/1;
    box-sizing: border-box;
}

.button-wrapper {
    aspect-ratio: 1/1;
    box-sizing: border-box;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-wrapper img {
    height: 100%;
    padding: 28%;
    box-sizing: border-box;
}

.button-wrapper > * {
    background-color: #444;
    height: 100%;
    aspect-ratio: 1/1;
    box-sizing: border-box;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
    padding: 0px;
}

.show-button {
    border: none;
    cursor: pointer;
    transition-duration: 0.2s;
}

.button-wrapper > *:hover {
    background-color: #333;
}

.inverted-button {
    background-color: #333 !important;
}

.inverted-button:hover {
    background-color: #444 !important;
}

.rotate180 {
    transform: rotate(180deg);
}
