$primary: #444444; 
$secondary: #333333;
$font-family-base: 'Helvetica', sans-serif;
$btn-font-weight: 800;

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

$custom-font-sizes: (
    7: 0.75rem
);

$font-sizes: map-merge($font-sizes, $custom-font-sizes);

@import "bootstrap/scss/bootstrap.scss";

.btn{
    font-size:small;
}

.btn-primary {
  --bs-btn-hover-bg: #333333; 
  --bs-btn-hover-border-color: #333333;
}

.btn-secondary {
  --bs-btn-hover-bg: #444444; 
  --bs-btn-hover-border-color: #444444; 
}
